<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">RocketBoard</label>
    <label lang="en">RocketBoard</label>
    <version>1.3.1</version>
    <copyright>(c) by ProudCommerce</copyright>
    <license>proprietary</license>
    <link>https://rocketboard.io</link>
    <author>ProudCommerce</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.3.1">
        <changes lang="de">Request-Token als erstes checken</changes>
        <changes lang="en">Check request token first</changes>
    </changelog>
    <changelog version="1.3.0">
        <changes lang="de">phpinfo Ausgabe und application.contact zu app data hinzugefügt</changes>
        <changes lang="en">Add phpinfo output and application.contact to app data</changes>
    </changelog>
    <changelog version="1.2.1">
        <changes lang="de">Version/Revision (build) aufsplitten</changes>
        <changes lang="en">Split version/revision (build)</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Fix für leeren Shop Titel</changes>
        <changes lang="en">Fix for empty shop title</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">"active"-Flag für Pluins hinzugefügt, UTF-8 Konvertierung für JSON-Daten ergänzt</changes>
        <changes lang="en">Added "active" flag for plugins, added utf-8 encoding for JSON data</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Erste Beta</changes>
        <changes lang="en">Initial Beta Release</changes>
    </changelog>
</plugin>